@import url("https://fonts.cdnfonts.com/css/gg-sans-2");
@import "tailwindcss";

@theme {
  --font-gg: "gg sans", sans-serif;
  
  --color-surface-1: #121214;
  --color-surface-2: #1A1A1E;
  --color-surface-3: #222327;
}
