@import url("https://fonts.cdnfonts.com/css/gg-sans-2");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-gg: 'gg sans Medium', sans-serif;
  --font-gg-semibold: 'gg sans SemiBold', sans-serif;
  --font-gg-bold: 'gg sans', sans-serif;
  --font-gg-normal: 'gg sans Normal', sans-serif;

  --color-slate-1: #121214;
  --color-slate-2: #1A1A1E;
  --color-slate-3: #222327;
  --color-slate-4: #1D1D20;
  --color-slate-5: #222225;
  --color-slate-6: #29292E;
  --color-slate-7: #242429;
  --color-slate-8: #323237;
  --color-slate-9: #82838B;
  --color-slate-10: #AAAAB1;
  --color-slate-11: #EFEFF0;
  --color-slate-12: #FBFBFB;

  --color-discord: #5865F2;
  --color-anchor: #5197ED;
  --color-online: #43A25A;
  --color-idle: #CA9654;
  --color-busy: #D83A42;
}
